---
import BaseLayout from "../../layouts/BaseLayout.astro"
import Card from "../../components/Card.astro"
import Link from "../../components/Link.astro"
import Hr from "../../components/Hr.astro"

const posts = await Astro.glob("./*.md")

function convertDate(d) {
  var p = d.split("/");
  return +(p[2]+p[1]+p[0]);
}
posts.sort(function(postA, postB) {
  return convertDate(postB.frontmatter.date) - convertDate(postA.frontmatter.date);
});
---
<BaseLayout title="Blog posts">
  <h1 class="text-4xl font-black text-almostgreen">Blog posts:</h1>
  <Hr />
  <div class="space-y-12">
    <div class="grid gap-6 sm:grid-cols-2">
      {posts.map((post) => (
        <Card post={post} />
      ))}
    </div>
  </div>
</BaseLayout>