---
import BaseLayout from "../layouts/BaseLayout.astro"
import Link from "../components/Link.astro"
---
<BaseLayout title="404">
  <div class="text-center">
    <code class="font-black text-2xl">Hello, world?</code>
    <br/>
    <br/>
    <code>That page can't be found!<br/>Do you want to go <Link href="/">Home</Link>?</code>
  </div>
</BaseLayout>