---
const { href="#", target="", extraClasses="" } = Astro.props
---
<a class={`underline-offset-8 underline transition-all text-almostblack hover:text-almostblue cursor-pointer ${extraClasses}`} href={href} target={target}><slot /></a>